* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system , Segoe UI , Roboto , Ubuntu , sans-serif;
}

.loading {
  font-size: 2rem;
  padding: 50px 0;
  text-align: center;
}

.header {
  align-items: center;
  background-color: #023031;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;
  z-index: 1;
}

.logo-header {
  margin: 0 35px;
  width: 100px;
}

.user-box-header {
  align-items: center;
  background-color: white;
  border-radius: 17px;
  display: flex;
  margin: 0 50px;
  padding: 2px;
  width: 190px;
}

.header-user-image {
  background-color: #2fc18c;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.header-user-name {
  flex-grow: 1;
  padding: 0 5px;
  text-align: center;
}

.nav-bar {
  background-color: #f0f2f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: #2fc18c;
  display: flex;
  font: 700 1.3rem Epilogue , sans-serif;
}

.nav-link {
  flex-grow: 1;
  padding: 15px 0;
  text-align: center;
}

.nav-link:nth-child( 2 ) {
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.nav-link:hover {
  background-color: #036b52;
  color: white;
}
